<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All answers</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>All Answers!</h1><br>
<div th:include="header"></div>
<div th:each="answer: ${answers}">
    <ol>
        <li>
            <p>A: <a th:href="@{/answers/answer/{id}(id=${answer.id})}">
                <span th:text="${answer.answerText}">AnswerText</span></a>
            </p>
        </li>
    </ol>
</div>
</body>
</html>