<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All questions</title>
    <link rel="stylesheet" th:href="@{css/styles.css}"/>
</head>
<body>
<h1>All Questions!</h1><br>
<div th:include="header"></div>
<div th:each="question: ${questions}">
    <a th:href="@{/questions/question/{id}(id=${question.id})}">
        <span th:text="${question.questionText}">QuestionText</span></a>
</div>
</body>
</html>