<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>All questions</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>All Questions!</h1><br>
<div th:include="header"></div>
<div th:each="question: ${questions}">
    <ol>
    <li>
        <p>Q: <a th:href="@{/questions/question/{id}(id=${question.id})}">
        <span th:text="${question.questionText}">QuestionText</span></a>
        <a th:href="@{/questions/question/{id}/change(id=${question.id})}">Change </a>
        <a th:href="@{/questions/question/{id}/delete(id=${question.id})}">Delete </a>
        <a th:href="@{/questions/question/{id}/addNewAnswer(id=${question.id})}">Add Answer </a>
        </p>
    </li>
    </ol>
</div>
</body>
</html>