<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Answer</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Answer</h1>
<div th:include="header"></div>
<div th:object="${answer}">
        <h3>Question:</h3>
        <span th:text="${answer.question.questionText}">Question text</span>
        <h3>Answer:</h3>
    <p th:text="${answer.answerText}">answer</p>
</div>
</body>
</html>