<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Question</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<h1>Question</h1>
<div th:include="header"></div>
<div th:object="${question}">
    <h3>Question:</h3>
    <p th:text="${question.questionText}">question</p>
</div>
<a th:href="@{https://www.google.com/search?q={request}(request=${question.questionText})}">Google it!</a>
<a th:href="@{https://www.youtube.com/results?search_query={request}&page=&utm_source=opensearch(request=${question.questionText})}">Youtube it!</a>
</body>
</html>